{% extends 'base.html' %}

{% block content %}

<div>
  <div style="text-align: center; max-width: 800px; margin: 4rem auto;">

    <h1>
      {{ target_venue.name }}
    </h1>
    <h5>
      {{ target_venue.score | floatformat:2 }}
    </h5>
    <h5>
      {{ target_venue.location | safe }}
    </h5>

    <div style="text-align: center;">
      <a href="{{ target_venue.link | safe }}" target="_blank" rel="noopener noreferrer">
        {{ target_venue.name }} 네이버지도 링크
      </a>
    </div>

    <hr>

    <h2>이 식당과 비슷한 식당들</h2>
    <ul>
      {% for recommended_venue in recommended_venues %}
          <li>
              <a href="{% url 'venueapp:detail' recommended_venue.id %}">{{ recommended_venue.name }}</a>
          </li>
      {% empty %}
          <li>이 식당은 정보가 적어 추천을 드리기가 어렵습니다. Maybe next time</li>
      {% endfor %}
    </ul>

    <hr>

    <h2>현재 유저와 비슷한 취향</h2>
    <ul>
      {% for rec in recommends %}
      <li>
        <a href="">{{ rec.name }}</a>
      </li>
      {% endfor %}
    </ul>

  </div>
</div>

{% endblock %}