{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>

    .container {
        padding: 0;
        margin: 0, auto;
    }

    .container a {
        width: 45%;
        max-width: 250px;
    }

    .container div {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;
    }

    .container img {
        width: 100%;
    }

</style>
    {% if venue_list %}
    <div class="container">
      {% for venue in venue_list %}
        <a href="{% url 'venueapp:detail' pk=article.pk %}">
            {% include 'snippets/card.html' with venue=venue %}
        </a>
        {% endfor %}
    </div>
<script src="{% static 'js/magicgrid.js' %}"></script>
    {% else %}
    <div class="text-center">
        <h1>No Articles Yet</h1>
    </div>
    {% endif %}

    {% include 'snippets/pagination.html' with page_obj=page_obj %}

    <script src="{% static 'js/magicgrid.js' %}"></script>

{% endblock %}