{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>



</style>
    {% if recommends %}
    <div class="container">
        <h2>현재 유저가 좋아할만한 식당 추천</h2>
      {% for venue in recommends %}
        <a href="{% url 'venueapp:detail' pk=venue.pk %}">
            {% include 'snippets/venue.html' with venue=venue %}
        </a>
        {% endfor %}
    </div>
<script src="{% static 'js/magicgrid.js' %}"></script>
    {% else %}
    <div class="text-center">
        <h1>No Articles Yet</h1>
    </div>
    {% endif %}

    {% include 'snippets/pagination.html' with page_obj=page_obj %}

    <script src="{% static 'js/magicgrid.js' %}"></script>

{% endblock %}
