{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>



</style>
    {% if recommends %}
    <div class="container">
        <h2>{{ user.profile.nickname }} 님과 비슷한 입맛을 가진 사람들이 좋아한 식당 Top 5</h2>
      {% for venue in recommends %}
        <a href="{% url 'venueapp:detail' pk=venue.pk %}">
            {% include 'snippets/venue.html' with venue=venue %}
        </a>
        {% endfor %}
    </div>
<script src="{% static 'js/magicgrid.js' %}"></script>
    {% else %}
    <div class="text-center">
        <h1>No Articles Yet</h1>
    </div>
    {% endif %}

    {% include 'snippets/pagination.html' with page_obj=page_obj %}

    <script src="{% static 'js/magicgrid.js' %}"></script>

{% endblock %}
