<div style="text-align: center; margin: 1rem 8;">
<!-- 이전 페이지-->
    {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}"
       class="btn btn-secondary rounded-pill">
        {{ page_obj.previous_page_number }}
    </a>
    {% endif%}
<!-- 현재 페이지-->
     <a href="?page={{ page_obj.number }}"
       class="btn btn-secondary rounded-pill active">
        {{ page_obj.number }}
    </a>
<!-- 다음 페이지-->
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}"
       class="btn btn-secondary rounded-pill">
        {{ page_obj.next_page_number }}
    </a>
    {% endif%}
</div>